{% load media_path %}

<div class="container">
    <div class="row text-center">
        {% for product in product_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name|title }}</h4>
                    </div>
                    <div class="card-body">
                        <img src="{{product.products_image|mymedia }}"/>
                        <h6 class="card-title pricing-card-title">{{ product.price|floatformat:2 }} рублей</h6>
                        <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                            <li>Описание товара: {{ product.description|slice:":100" }}</li>
                            <li>Категория товара: {{ product.category.name }}</li>
                        </ul>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' product.pk %}">Перейти</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>