{% extends 'catalog/base.html' %}
{% load media_path %}

{% block content %}
<h1 class="display-4">K-Shop</h1>
    <p class="lead">K-shop - ваш лучший друг в мире электроники</p>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                    </div>
                    <div class="card-body">
                        {% for product in product_list %}
                            {% if product.category == object %}
                                <img src="{{product.products_image|mymedia }}" />
                            {% endif %}
                        {% endfor %}
                        <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                            <li>{{ object.description }}</li>
                        </ul>
                       <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:catalog_category' object.pk %}">Перейти</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}