{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card mb-6 box-shadow">
                    <div class="card-header">
                        <h3 class="card-title">
                            Добавление товара
                        </h3>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-success">Сохранить</button>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-6 box-shadow">
                    <div class="card-header">
                        <h3 class="card-title">
                            Добавление Версии
                        </h3>
                        <div class="card-body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
